/* General Element Styling */

* {
  box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #000;
	background-color: #ffcccc;
	font-family: "Oxygen", serif;
}

p {
	padding: 20px 15px 0px 15px;
}


/* Header */

#header-nav {
	background-color: #ff0000;
	border-radius:0;
	border: 0;
}

.navbar-brand h1 { /* Restaurant Name */
	font-family: 'Lora', serif;
	color: #ffffff;
	font-size; 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: .75;
	padding-left: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:active { /* No Underline */
	text-decoration: none;
}