h1 p {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 21px;
	font-weight: 600;
}

h2 {
	font-size: 15px;
	font-weight: 600;
}

p {
	font-size: 12px;
}

/*Simple Responsive Framework */

